body { color: #181818; }
.wrap{place-content:center;
	min-height: 100vh;display: grid;}
.btn { border-radius:0; }
label.error, .ci_error_msg > p, .custom_img_err { color: #cc5965; display: block; margin: 2px 0 0 0 !important; font-size: 12px; font-weight: 500; }
.hide{ display:none; }
.no_wrap { white-space:nowrap; }

.nav.metismenu > li.before_nav_header { display: none; }
.common_topbar .dropdown { display:none; }
/*login screen css*/
.logo{align-items: center; justify-content: center; background-color: #effdff; border-radius: 4px; padding: 10px;}
.logo img{width: 5%;}
.logo h3{font-size: 24px; font-weight: 700; margin-left: 10px;color: #00bdd5; background-color: #fff; padding: 10px;}
.btn-login{background-color: #00bdd5;}
.btn-login:hover{background-color: #1696a7;}
.check-bx .checkmark{height: 18px;width: 18px;}
/* .half-circle{
	background-image: url(../images/bg-circle.png);
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
} */
.half-circle {
    width: 700px;
    height: 400px;
    background-color: #ebfdff;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom: 0;
	border-bottom: 0;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
	z-index: -1;
}
.captcha_common a i:before{ color:#00bdd5;}
.css_checkbox_radio input:checked ~ .checkmark{background-color:#00bdd5!important; border: 1px solid #00bdd5!important;}
/*login screen css*/
.admin_login_form { background: #fff; padding: 30px; max-width: 430px; margin: 50px auto 20px; border-radius: 4px; border: 2px solid #00bdd5;}
.admin_login_form > img { display: block; margin: 0 auto 20px; max-height: 90px; max-width: 100%; }
.admin_login_form > h3 { text-align:center; margin:0 0 0 0; }
.admin_login_form > p { margin:10px 0 0 0; text-align:center; }

.nav.metismenu > li { border-left: 4px solid #00bdd5; border-bottom: 1px solid #e7e7e7; }
.nav.metismenu > li.active { border-left: 4px solid #00bdd5; background: #293846; }
.nav.metismenu > li.nav-header { padding: 0; background: #fff; border-color: #fff; text-align: center; }
.nav.metismenu > li.nav-header > a, .nav.metismenu > li.nav-header > a:hover { padding:10px; background:none;color:#000; }
.nav.metismenu > li.nav-header > a > h3 { margin: 0; font-size: 16px; }
.nav.metismenu > li.nav-header > a > img { /* max-width: 100px; */ height: auto; max-height: 40px; width: auto; }

.nav.metismenu > li > a { padding:14px 10px 14px 10px; }
.nav.metismenu > li > ul > li { border-top: 1px solid #434343 !important; }
.nav.metismenu > li > ul > li:last-child { padding-bottom:0; }
.nav.metismenu > li > ul > li > a { padding:8px 5px 8px 32px; }

.navbar-top-links {	margin:5px 10px 0px 0 }
.navbar-top-links li { border-right: 1px solid #888888; line-height: 12px; margin: 0 12px 5px 0; padding: 0 15px 0 0; }
.navbar-top-links li a { padding:0;min-height:auto; white-space:nowrap; }
.navbar-top-links li:last-child { border-right: none; padding:0; }

.edit_form_image { position: relative; }
.edit_form_image a { display: inline-block; }
.edit_form_image a.edit_image_outer img { max-width: 100px; max-height: 60px; opacity: 0.9; transition: all .3s ease-in-out; border: 1px solid #e5e6e7; padding: 2px; }
.edit_form_image a.img_delete_btn { position: absolute; left: 0; bottom: 0; padding: 0 5px 1px 5px; font-size: 12px; }

.html5buttons a.btn { color: #fff; background-color: #1ab394; border-color: #1ab394; margin-left:1px !important; }
.html5buttons a.btn:hover, .html5buttons a.btn:focus, .html5buttons a.btn.focus { background-color: #18a689; border-color: #18a689; color: #FFFFFF; }

td > .toggle.btn { height: 28px !important; min-height: auto; }
td > .toggle.btn .toggle-group .btn.btn-primary { padding: 3px 5px 0 0px; }
td > .toggle.btn .toggle-group .btn.btn-danger { padding: 3px 0px 0 12px; }

.custom_right_add_new_btn { padding: 5px 15px; margin: -8px 0 0 3px; }

.custom_modal_style .modal-header { padding: 15px 0px; background: #1ab394; color: #fff; border-radius: 2px 2px 0 0; }
.custom_modal_style .modal-header .close { padding: 0 5px 0 5px; margin: 0 10px 0 0; }
.custom_modal_style .modal-header h4 { margin: 0; font-size: 18px; font-weight: bold; }
.custom_modal_style .modal-body { padding:30px 30px 10px 30px; }

.admin_form_all .form-group label, .modal_form_all .modal-body .form-group label { margin:0 0 2px 0; }

td .btn.btn-xs { width: 27px; height: 26px; }

.dataTables_paginate  { float:right; }

.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices { box-shadow: 0 0 0 0 !important; padding: 2px 0 0 8px !important; border-radius: 0 !important; background: #fff !important; border: 1px solid #A8A8A8 !important; min-height: 35px !important; line-height: 31px !important; }

.chosen-container .chosen-results li.highlighted { background-color: #1c84c6; }

.captcha_common { position:relative; }
.captcha_common .refresh_captcha_link { position: absolute; top: 0px; left: 137px; font-size: 20px; line-height: 20px;
}

/****** ONLY FOR DATE PICKER *******/
.datepicker-dropdown table > tfoot { position: relative; height: 40px; border-top: 1px solid #e6e6e6; }
.datepicker-dropdown table > tfoot > tr > th { position: absolute; left: 0; width: 50px; padding: 4px 0 5px !important; height: auto; border-radius: 0; margin: 8px 0 0 8px; font-size: 10px; }
.datepicker-dropdown table > tfoot > tr > th.clear { right: 0; left: auto; margin: 8px 8px 0 0; }
.form-control.datepicker-dropdown:disabled, .form-control.datepicker-dropdown[readonly] { background-color: #fff; opacity: 1; }

/************ ONLY FOR CUSTOM CHECKBOX  *******************/
/* Customize the label (the container) */
.css_checkbox_radio { vertical-align:top; position: relative; padding-left: 20px; margin: 5px 15px 5px 0; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #202020; font-weight: 600; }
/* Hide the browser's default checkbox */ 
.css_checkbox_radio input {  position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
/* Create a custom checkbox */
.checkmark { position: absolute; top: 0px; left: 0; height: 20px; width: 20px; background-color: #fff; border: 1px solid #808080; }
/* On mouse-over, add a grey background color */
.css_checkbox_radio:hover input ~ .checkmark { background-color: #fff; border: 1px solid #1c84c6; }
/* When the checkbox is checked, add a blue background */
.css_checkbox_radio input:checked ~ .checkmark { background-color: #1c84c6; border: 1px solid #1c84c6; }
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none; }
/* Show the checkmark when checked */
.css_checkbox_radio input:checked ~ .checkmark:after { display: block; }
/* Style the checkmark/indicator */ 
.css_checkbox_radio .checkmark:after { left: 7px; top: 3px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }


/************  ONLY FOR CUSTOM RADIOBOX *********************/
.css_checkbox_radio.radio_only { padding-left:26px; }
/* Create a custom radio button */
.radiobtn { position: absolute;  top: 0; left: 0; height: 22px; width: 22px; background-color: #fff; border-radius: 50%; border: 1px solid #ccc; }
/* On mouse-over, add a grey background color */
.css_checkbox_radio:hover input ~ .radiobtn { background-color: #fff; border: 1px solid #1c84c6; }
/* When the radio button is checked, add a blue background */
.css_checkbox_radio input:checked ~ .radiobtn { background-color: #00bdd5; border: 1px solid #00bdd5; }
/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */
.css_checkbox_radio input:checked ~ .radiobtn:after { display: block; }
/* Style the indicator (dot/circle) */
.css_checkbox_radio .radiobtn:after { top: 6px; left: 6px; width: 8px; height: 8px; border-radius: 50%; background: white; } 

.form_note { color: #4e9099; font-weight: 600; font-size: 12px; line-height: 15px !important; display: block; margin: 4px 0 0 0; }

.upload_img_preview { max-width: 100px; max-height: 100px; overflow: hidden; border: 1px solid #ccc; padding: 2px; background: #eee;  text-align: center; }

.upload_img_preview { max-width: 100px; max-height: 100px; overflow: hidden; border: 1px solid #ccc; padding: 2px; background: #eee; text-align: center; width: 90px; height: 90px; line-height: 77px; }
.upload_img_preview i { color: #1c84c6; font-size: 60px; background: #fff; line-height: 60px; width: 70px; height: 58px; /* display: inline-block; */ border-radius: 5px; vertical-align: middle; }
.upload_img_preview img { max-width: 84px; max-height: 84px; }
.upload_img_preview h4 { color: #1c84c6; text-transform: uppercase; font-size: 22px; margin: 0; vertical-align: middle; display: inline-block; font-weight: 600; }

.log_table_title { color: #1c84c6; text-align: center; font-size: 18px; font-weight: 600; margin: 0 0 15px 0 !important; border-bottom: 1px dashed #A8A8A8; padding: 0 0 8px 0; }
.log_table, .log_table td { border: 1px solid #A8A8A8 !important; }
tr.log_table_head { border: 1px solid #A8A8A8 !important; }
tr.log_table_head th { border: 1px solid #A8A8A8 !important; background: #dedede !important;   }

.custom_inner_tbl tr th { font-weight:600; background: #dedede !important; }
.custom_inner_tbl tr th, .custom_inner_tbl tr td { border:1px solid #ccc !important; }

.ibox-title { border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.ibox-content { border: 1px solid #ccc;  }

.disp_status_details { min-width: 90px; padding: 10px; border-radius: 0; font-size: 14px; }

.img_preview_input_outer { max-width: calc(100% - 110px); width: 100%; }

.form-group select.form-control {
	height: 36px !important;
	padding-top: 3px;
}

.cursor_default { cursor:auto; }
.nowrap { white-space:nowrap; }
.wrap { word-break: break-all; /* word-wrap: anywhere; */ }

.search_form_common_all
{
	background: #ededed;
	padding: 20px 20px 10px 20px;
	margin-bottom: 20px;
	text-align: center;
}

.search_form_common_all .form-group {
	display: inline-block;
	margin: 0 10px 10px;
	width: 200px;
	vertical-align: top;
}

.search_form_common_all .form-group .form-control 
{
	padding: 5px 20px 5px 10px;
	height: 35px !important;
}

.search_form_common_all .form-control:disabled, .search_form_common_all .form-control[readonly]
{
  background-color:#fff;
}

.search_form_common_all .btn {
	display: inline-block;
	vertical-align: top;
	padding: 7px 20px 6px;
	margin: 0 0px 0 0;
	min-width: 97px;
}

#add_banner_form .upload_btn_outer {
	text-align: left;
	margin: 8px 0 0 0;
}

#add_banner_form .fileContainer {
	overflow: hidden;
	position: relative;
	color: #fff;
}

#add_banner_form .fileContainer [type="file"] 
{
	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

.file-preview.old_file_preview a img 
{
	max-width: 400px;
	max-height: 135px;
}

.old_file_preview {
	width: auto !important;
	display: inline-block;
	position: relative;
	padding: 6px !important;
  margin:0 !important;
	border: 2px solid #E8E8E8;
}

.old_file_preview .img_outer_preview {
	display: inline-block;
	max-height: 135px;
	margin: 0;
	position: relative;
	border: 1px solid #E8E8E8;
}

.old_file_preview .img_delete_btn {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 2px 6px;
	font-size: 12px;
}

.old_file_preview .img_alt_title_btn {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 2px 6px;
	font-size: 12px;
}

.old_file_preview ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.old_file_preview ul li {
	display: inline-block;
	position: relative;
	border: 1px solid #DDDDDD;
	margin: 6px 5px;
	padding: 2px;
}

ul.chosen-results .highlighted { border:none !important; }

.login_password_common { position:relative; }
.login_password_common input { padding:6px 22px 6px 12px; }
.login_password_common .show-password, .login_password_common .hide-password { position: absolute; right: 5px; top: 8px; cursor:pointer; }
.login_password_common .show-password i, .login_password_common .hide-password i { font-size:12px; }

label.form_label { margin: 0 0 2px 0; font-weight: 600; color:#202020; }

.sidebar_title_only { color: #00bdd5; text-align: center; font-weight: 600; font-size: 16px; padding: 15px 5px 15px 5px; line-height: 20px; border-top:1px solid #e7e7e7 }

.custom_form_title { background: #1c84c6; color: #fff; text-align: center; font-size: 16px; padding: 8px 10px; }

@media only screen and (min-width:1200px)
{}

@media only screen and (max-width:1199px)
{}

@media only screen and (max-width:991px)
{
	.dataTables_wrapper { padding: 0 0 20px 0; }
	.dataTables_wrapper .html5buttons { float:right; margin:0; }
	.dataTables_wrapper .dataTables_length { float:left; margin:0; }
	.dataTables_wrapper .dataTables_filter { width: 100%; float: none; clear: both; margin:10px 0 0 0; text-align:right !important;	} 
	.dataTables_wrapper .dataTables_filter label { margin:0;}
	.dataTables_wrapper .dataTables_info { text-align:left !important; }
	
}

@media only screen and (max-width:768px)
{
	body.body-small.fixed-sidebar.mini-navbar #page-wrapper { margin: 0; }
	.nav.metismenu { position:relative; }
	.nav.metismenu > li.before_nav_header { display: block; }
	.nav.metismenu > li.before_nav_header { display: block; position: absolute; opacity: 0.8; width: 30px; height: 30px; text-align: center; line-height: 30px; background: #e6e6e6e6; margin: 5px 5px 0 0; border-radius: 50%; border:none; right: 0; z-index: 9; }
	.nav.metismenu > li.before_nav_header a { padding: 0 0 0 6px; width: 30px; height: 30px; border-radius: 50%; text-align: center; }
	.nav.metismenu > li.nav-header > a { width: calc(100% - 40px); }
	body.body-small.fixed-sidebar.mini-navbar .navbar-static-side { background: #2f4050; }
	.canvas-menu.mini-navbar .nav-second-level li a, .fixed-sidebar.mini-navbar .nav-second-level li a { padding: 7px 10px 7px 30px; }	
}

@media only screen and (max-width:480px)
{
	.common_topbar .navbar-right { display:none; }
	.common_topbar .dropdown { display: block; height: 26px; margin: 14px 12px 0 0; }
	.common_topbar .dropdown .btn, .common_topbar .dropdown .btn:hover, .common_topbar .dropdown .btn:focus, .common_topbar .dropdown .btn:active { background: none; border: none; color: #000; font-weight: 600; font-size: 14px; padding: 0; box-shadow:0 0 0 0 !important; }
	.common_topbar .dropdown .dropdown-menu { box-shadow: 0 0 0 0; border: 1px solid #e1e1e1e1; }
	.common_topbar .dropdown .dropdown-menu a { padding: 5px 10px 5px 20px; border-bottom: 1px solid #eaeaea; }
	.common_topbar .dropdown .dropdown-menu a:last-child { border:none; }
} 

@media only screen and (max-width:320px)
{}