@charset "utf-8";
/* CSS Document */

body {
	margin:0 auto;
	position:relative;
	padding:0;
	font-family:sans-serif;
	font-size:12px;
}

.login-box-body a {
	line-height: 20px;
}
.short_logo {
	display: inline-block;
	float: left;
	margin: 0 0 0 20px;
}
.login-logo a {
	color: #619fda;
	font-weight: 600;
	text-align: center;
	font-size: 28px;
	line-height: 24px;
	display: inline-block;
}
.login-logo a small {
	font-size: 14px;
	color: #1d1d1d;
}
label {
	line-height: 18px;
	font-weight: normal;
}
form {
	padding: 10px;
	border: 1px solid #1287c0;
	background-color: #dcf1fc;
}
.form-group {
	margin-bottom: 10px;
}
.form-control {
	width: 65%
}
a.forget {
	color: #9d0000;
	line-height: 24px;
}
a.forget:hover {
	color: #9d0000;
	text-decoration: underline;
}
.btn.btn-flat {
	min-height: 34px;
	background-color: #015171;
}
.red {
	color: #f00;
}
.button1 {
  background-color: #044983;
  border-color: #6e96b8 #033466 #022755 #386f9d;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: Tahoma,Arial;
  font-size: 11px;
  font-weight: bold;
  margin: 3px 0 3px 13px;
  padding: 5px;
}
.button2 {
  background-color: #044983;
  border-color: #6e96b8 #033466 #022755 #386f9d;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: Tahoma,Arial;
  font-size: 11px;
  font-weight: bold;
  margin: 3px 0 3px 5px;
  padding: 5px;
}
ol, ol.result {
	padding-left:15px;
}
ol li {
	text-align:justify;
	padding:3px 0;
	line-height:28px;
}
ol.result li {
	text-align:justify;
	padding:3px 0;
	line-height:18px;
}
.footer {
  color: #636363;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  line-height: normal;
  text-decoration: none;
  background-color:#e2e2e2;
  padding:20px;
  border-top:3px solid #619fda;
}
.text1 {
	padding:3px 5px;
	margin:5px;
}
.content {
	padding-left:10px;
}
.text4 {
  margin: 3px 10px;
}
