.menu-btn a {
	display: block;
	padding: 0;
	margin: 0 auto;
}
.menu-btn a:hover {
	text-decoration: none;
	cursor: pointer;
}
.menu-btn li a img {
	margin: 0 auto;
	max-width: 90px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%);
	-o-transition: .5s ease-in-out;
}
.menu-btn li.active img, .menu-btn a:hover img {
	filter: none;
	-webkit-filter: grayscale(0%);
	;
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	;
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	;
	-o-transition: none;
}
.menu-btn a.selected {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(204,204,204,1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(204,204,204,1);
	box-shadow: 1px 1px 3px 0px rgba(204,204,204,1);
}
.menu-btn a span {
	display: block;
	padding: 50px 0;
	background: #090;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
}
.sc-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.sc-list li {
	display: block;
	padding: 8px 0 8px 20px;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
	margin-bottom: 2px;
}
.sc-list li:first-child {
	border-top: none;
}
.sc-list li span i {
	color: #019EEC;
	font-size: 16px;
	margin-left: -15px;
	padding: 4px;
}
.tab-content {
	padding: 30px;
}
@media (max-width:767px) {
.menu-btn a span {
	padding: 10px 0;
	font-size: 16px;
}
}
@media (min-width:768px) and (max-width:991px) {
.menu-btn a span {
	padding: 20px 0;
	font-size: 18px;
}
}
