.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.close:hover {
    background: #00d9ff;
}

.modalDialog > div {
  background: #cccccc none repeat scroll 0 0;
  border-radius: 6px;
  height: 305px;
  margin: 23% auto;
  padding: 0 20px 13px;
  position: relative;
  width: 280px;
}

.modalDialog .close {
	 background-color: #00c0ef;border-radius: 0;color: #fff;  float: right; font-size: 21px; font-weight: 700; line-height: 1; opacity: 1;padding: 6px;width: 31px;}
.modalDialog h2 { float: left; font-size: 24px;margin: 10px 0 10px 5px;}
.modalDialog .img-responsive { margin: 0 auto;width: 230px;}