@charset "utf-8";
/* CSS Document */

/*START OF COMMON CODE*/

body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	outline: none;
	background: #fff;
	color: #000;
	text-align: justify;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
form, table, p, h1, h2, h3, h4, h5, h6, ul, li, div, dl {
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	outline: none;
}
li {
	padding: 0;
	margin: 0;
	list-style: none;
}
table tr {
	vertical-align: middle;
}
a {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	color: #000;
}
img {
	border: 0;
	vertical-align: top;
	outline: none;
}
form {
	margin: 0;
	padding: 0;
}
p {
	margin: 0 auto;
	padding: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/*END OF COMMON CODE*/

.wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	clear: both;
}
.container-fluid {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	clear: both;
}
.home-container {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}
.home-header {
	background-color: #fff;
	padding: 5px 0;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.pull-center {
	text-align: center;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.toll-free {
	font-size: 20px;
	line-height: 24px;
	margin-top: 20px;
	color: #666;
}
.toll-free span {
	font-weight: bold;
	font-size: 24px;
}
.clr {
	clear: both;
	height: 0;
	margin: 0 auto;
	padding: 0;
}
#menu {
	width: 100%;
	background-color: #019eec;
	padding: 0;
	color: #fff;
	display: block;
	margin: 10px 0 0;
}
ul.nav {
	list-style: none;
	margin: 5px auto 0;
	padding: 0;
	width: 100%;
	height: 40px;
}
ul.nav li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 8px 0;
	line-height: 24px;
}
ul.nav li:last-child a {
	border-right: none;
}
ul.nav li a {
	color: #fff;
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0 8px;
}
ul.nav li:hover {
	display: inline-block;
	color: #fff;
	background-color: #0483c2;
	text-decoration: none;
	cursor: pointer;
}
.banner {
	background: url(../images/banner.jpg) center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 230px;
	display: block;
}
ul.login {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
ul.login li {
	list-style: none;
	display: inline-block;
	float: left;
	margin: 15px 5px 0;
	width: 235px;
	position: relative;
}
ul.login li a {
	list-style: none;
	display: block;
	text-align: center;
	padding: 15px 15px 5px;
}
ul.login li.official {
	background: #ebf8ff;
}
ul.login li.track {
	background: #ffede6;
}
ul.login li.userlogin {
	background: #e8fffb;
}
ul.login li.userregister {
	background: #fffaee;
}
ul.login li p {
	font-weight: bold;
	text-align: center;
	margin: 15px 0;
	text-transform: uppercase;
	font-size: 18px;
	min-height: 45px;
}
ul.login li div.btn {
	display: block;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #019eec;
}
ul.login li div.btn1 {
	background-color: #019eec;
}
ul.login li div.btn2 {
	background-color: #e77a4c;
}
ul.login li div.btn3 {
	background-color: #13bda0;
}
ul.login li div.btn4 {
	background-color: #f9b100;
}
.home-footer {
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	background: #f2f2f2;
}
.home-footer h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}
.home-footer p {
	color: #666;
	line-height: 18px;
	margin: 5px 0;
}
ul.ftrlinks {
	list-style: square;
	margin-left: 15px;
	padding: 0;
}
ul.ftrlinks li {
	list-style: square;
	margin: 0;
	padding: 0;
	line-height: 18px;
}
ul.ftrlinks li a {
	display: block;
	margin: 5px 0;
	color: #019eec;
}
ul.ftrlinks li a:hover {
	color: #000;
}
.m20 {
	margin: 0 20px;
}
.copyrt {
	width: 100%;
	background-color: #3596da;
	padding: 10px 0;
	color: #fff;
}
.w200{
	width:200px;
}
.w250{
	width:250px;
}
.brdr{border:1px solid #999898;}
