.modal-body {
    width: 680px;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.progress{
    display:none;
}

#cropimage {
    overflow: hidden;
    width: 640px;
    height: 480px;
}

#webCameraArea {
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (max-width:767px) {

    .modal-dialog {
        display: block;
    }

    .modal-body {
        width: 100%;
    }

    #webCameraArea {
        overflow: hidden;
        width: 100%;
    }

    

    #webCameraArea video {
        width: 100% !important;
        height: auto !important;
    }

}

@media only screen and (max-width:679px) {
    .modal-body {
        width: 100%;
        height: 100%;
    }

    #cropimage {
        overflow: hidden;
        height: 315px;
        width: 100%;
    }
}

@media only screen and (max-width:479px) {
    .modal-body {
        width: 100%;
        height: 100%;
    }

    #cropimage {
        overflow: hidden;
        height: 240px;
        width: 100%;
    }
}

.absolute-preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute-preloader .preloader-message {
    display: flex;
    align-items: center;
    border-radius: .475rem;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    background-color: #fff;
    color: #7e8299;
    font-weight: 500;
    margin: 0 !important;
    width: auto;
    padding: .85rem 1.75rem !important;
}

.absolute-preloader .spinner-border {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 6px;
}