.logo{ position: unset; }
.logo .top_logo { text-align: center; background: #fff;  display:inline-block; }
.logo .top_logo .logo_left_img { text-align: left; width: 210px;  margin-right:30px; }
.logo .top_logo .logo_right_img { text-align: right; width: 365px;  margin-left:30px; }
.logo .top_logo span { font-size: 18px; width: calc(100% - 645px); display: inline-block; font-weight: bold; color: #0f4494; vertical-align: middle; line-height: 24px; }
.logo h3 { font-size: 16px; font-weight: 700; color: #11a0de; line-height: 26px; }
.logo h4 { font-size: 15px; line-height: 22px; }

.custom_contact_table { width:100%; }
.custom_contact_table tr th { font-weight:600; background: #dedede !important; text-align:center; padding:5px 10px; }
.custom_contact_table tr th, .custom_contact_table tr td { border:1px solid #00bdd5 !important; }
.custom_contact_table tr td { padding: 5px 10px; }

h3.custom_form_heading { background: #00bdd5; color: #fff; padding: 10px 0; }

@media only screen and (max-width:991px)
{
  .logo .top_logo { display: block; }
  .logo .top_logo .logo_left_img { text-align: center; width: 210px; margin-right: 0; max-width: 100%; }
  .logo .top_logo .logo_right_img { text-align: center; width: 365px; margin-left: 0; max-width: 100%; }
  .logo .top_logo span { width: 100%; display: block; margin:20px auto; }	
}

@media only screen and (max-width:480px)
{
  .logo .top_logo .logo_left_img { width: auto; max-height: 60px; }
  .logo .top_logo span { font-size: 14px; padding: 0 10px; }
  .logo .top_logo .logo_right_img { width: auto; max-height: 60px; padding: 0 10px 10px 10px; }
  .logo h3 { font-size: 14px; line-height: 20px; }
  .logo h4 { font-size: 13px; line-height: 18px; }
}